git+https://github.com/MasoniteFramework/masonite@develop
masonite-logging>=1.0,<2.0
masonite-validation>=3.0,<4.0
masonite-inertia==3.1.1
git+https://github.com/MasoniteFramework/orm
masonite-js-routes
# pendulum==1.5.1

# deployment
gunicorn==20.0.4
psycopg2-binary==2.8.6
