git+https://github.com/MasoniteFramework/masonite4.git@feature/104
git+https://github.com/girardinsamuel/orm@update/masonite-4
git+https://github.com/girardinsamuel/masonite-inertia@4.X
git+https://github.com/girardinsamuel/masonite-js-routes@4.X
cryptography

# Heroku deployment only
# gunicorn==20.0.4
# psycopg2-binary==2.8.6
